* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
body {
    background-color: blue;
}

.main {
    display: flex;
    background-color: white;
}