* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    overflow-y: hidden;
    overflow-x: hidden;
}
:root {
    --popup_width: 500px;
}
body {
    background-color: blue;
}

.main {
    display: flex;
    background-color: white;
}

.popup_card {
    position: absolute;
    display: none;
    margin-top: 20px;
    background-color: rgb(224, 224, 224);
    width: var(--popup_width);
    height: 600px;
    left: calc(50% - (var(--popup_width) / 2));
}

#popup_image {
    height: 80%;
}

#inative-game {
    background-color: black;
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 40%;
}

#avaliacao_inputs {
    display: flex;
    flex-direction: row;

    height: 20%;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.avaliacao_icons {
    width: 60px;
    height: 60px;
    align-self: center;
    cursor: pointer;
    
}
.avaliacao_icons:nth-child(1):hover {
    filter: drop-shadow(0 0 5px green);
}

.avaliacao_icons:nth-child(2):hover {
    filter: drop-shadow(0 0 5px red);
}

.avaliacao_text_input {
    height: 35px;
    width: 50%;
    align-self: center;
}

.avaliacao_submit {
    width: 70px;
    height: 70px;
    rotate: 90deg;
    align-self: center;
    cursor: pointer;
}